In [6]:
# Required Libraries
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [12]:
df=pd.read_csv('..//notebooks/data/Task_data.csv')
df.head()

,Task ID,Task Description,Assigned To,Priority,Dependencies,Assigned Date,Expected Deadline,Estimated Time,Completed Date,Delay (days)
0,T1,Fix critical security vulnerability in system,Charlie,High,No Dependency,23-01-2024,30-01-2024,7,30-01-2024,0
1,T2,Prepare financial report for Q1,Eve,Medium,T1,11-01-2024,15-01-2024,4,18-01-2024,3
2,T3,Schedule and conduct weekly team meeting,David,High,No Dependency,09-01-2024,11-01-2024,2,13-01-2024,2
3,T4,Submit project proposal before deadline,Bob,Medium,T1,14-01-2024,22-01-2024,8,22-01-2024,0
4,T5,Review design documents and provide feedback,Charlie,Low,No Dependency,12-01-2024,13-01-2024,1,18-01-2024,5

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Task ID            100 non-null    object
 1   Task Description   100 non-null    object
 2   Assigned To        100 non-null    object
 3   Priority           100 non-null    object
 4   Dependencies       100 non-null    object
 5   Assigned Date      100 non-null    object
 6   Expected Deadline  100 non-null    object
 7   Estimated Time     100 non-null    int64
 8   Completed Date     100 non-null    object
 9   Delay (days)       100 non-null    int64
dtypes: int64(2), object(8)
memory usage: 7.9+ KB

In [15]:
df.describe()

       Estimated Time  Delay (days)
count       100.00000    100.000000
mean          4.46000      2.530000
std           2.30248      1.533827
min           1.00000      0.000000
25%           2.75000      1.000000
50%           4.50000      2.500000
75%           6.00000      4.000000
max           8.00000      5.000000

In [16]:
df.shape

(100, 10)

In [3]:
df['Assigned To'].value_counts()

Assigned To
Eve        35
Alice      21
Charlie    18
David      13
Bob        13
Name: count, dtype: int64

In [4]:
df['Dependencies'].value_counts()

Dependencies
No Dependency    73
T1                3
T15               3
T3                1
T6                1
T34               1
T8                1
T42               1
T29               1
T39               1
T35               1
T41               1
T13               1
T28               1
T57               1
T5                1
T31               1
T17               1
T11               1
T52               1
T21               1
T60               1
T95               1
T48               1
Name: count, dtype: int64

In [17]:
df.isnull().sum()

Task ID              0
Task Description     0
Assigned To          0
Priority             0
Dependencies         0
Assigned Date        0
Expected Deadline    0
Estimated Time       0
Completed Date       0
Delay (days)         0
dtype: int64

In [11]:
df['Dependencies'].unique()

array(['No Dependency', 'T1', 'T3', 'T15', 'T6', 'T34', 'T8', 'T42',
       'T29', 'T39', 'T35', 'T41', 'T13', 'T28', 'T57', 'T5', 'T31',
       'T17', 'T11', 'T52', 'T21', 'T60', 'T95', 'T48'], dtype=object)